
<table class="table table-condensed table-hover table-striped list-items">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Dl</th>
        <th>Rm</th>
    </tr>
    <tr>
        <td>photos de vacances phuket 2014.jpeg</td>
        <td>569.2 Kb</td>
        <td><i class="glyphicon glyphicon-download"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>
    <tr>
        <td>file2.jpeg</td>
        <td>25.2 Kb</td>
        <td><i class="glyphicon glyphicon-download"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>
</table>
