
<table class="table table-condensed table-hover table-striped list-items">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Dl</th>
        <th>Rm</th>
    </tr>
    <tr ng-repeat="item in items">
        <td>
            <a href="#{{item.path}}"
               ng-click="$root.$broadcast('changePath', item);"
                >{{item.name}}</a>
        </td>
        <td class="size">{{item.size}}</td>
        <td><i class="glyphicon glyphicon-download"
               ng-class="{visible:item.readable}"></i></td>
        <td><i class="glyphicon glyphicon-remove"
               ng-class="{visible:item.writable}"></i></td>
    </tr>
</table>
