<table class="table table-condensed table-hover table-striped list-items">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Dl</th>
        <th>Rm</th>
    </tr>
    <tr ng-repeat="item in items"
        split-drag-over
        drop="{{item.type=='file'?'after':'in'}}"

        ng-file-drop
        ng-model="files"
        ng-file-change="fileDropped($files, $event, $rejectedFiles, item.type=='file'?dir:item)"
        drag-over-class="{accept:'', reject:'', delay:100}"
        multiple="false"
        allow-dir="false"
            >
        <td>
            <a href="#{{item.path}}"
               ng-click="$root.$broadcast('changePath', item);"
                >{{item.name}}</a>
        </td>
        <td class="size">{{size(item.size)}}</td>
        <td>
            <a href="download/{{item.path}}"
               target="_blank"
               ng-class="{hidden:item.type!='file'}">
                <i class="glyphicon glyphicon-download"></i>
            </a>
        </td>
        <td>
            <i class="glyphicon glyphicon-remove"
               ng-click="delete(item);"></i>
        </td>
    </tr>
</table>
