
<div class="popin-bg"
     ng-click="$root.$broadcast('hidePopin')"></div>

<div ng-include="'views/popins/help.html'"
     ng-class="{visible: name=='help'}"
     class="help popin-body"></div>

<div ng-include="'views/popins/about.html'"
     ng-class="{visible: name=='about'}"
     class="about popin-body"></div>

<div ng-include="'views/popins/addNote.html'"
     ng-class="{visible: name=='addNote'}"
     class="addFile popin-body"></div>

<div ng-include="'views/popins/addFile.html'"
     ng-class="{visible: name=='addFile'}"
     class="addFile popin-body"></div>

<div ng-include="'views/popins/addFolder.html'"
     ng-class="{visible: name=='addFolder'}"
     class="addFolder popin-body"></div>

<div ng-include="'views/popins/wontBrowse.html'"
     ng-class="{visible: name=='wontBrowse'}"
     class="wontBrowse popin-body"></div>

<div ng-include="'views/popins/previewFile.html'"
     ng-controller="PreviewFileCtrl"
     ng-class="{visible: name=='previewFile'}"
     class="previewFile popin-body"></div>