<div class="panel panel-default" ng-if="item">
    <div class="panel-heading">Preview {{item.name}}</div>
    <div class="panel-body">
        {{item.name}}
        {{item.contentType}}
        {{item.size}}
        <br/>
        <audio controls ng-if="getMediaType()=='sound'">
            <source src="{{readfilepath}}"
                    type="{{item.contentType}}">
            Your browser does not support the audio element.
        </audio>
        <video controls ng-if="getMediaType()=='video'">
            <source src="{{streamfilepath}}"
                    type="video/mp4">
            Your browser does not support the video element.
        </video>
        <img src="{{readfilepath}}"
             alt="{{item.name}}"
             max-height
             ng-if="getMediaType()=='picture'" />

        <iframe ng-if="getMediaType()=='text'"
                src="{{readfilepath}}"></iframe>
    </div>

    <button type="button" class="close"
            ng-click="$root.$broadcast('hidePopin')">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>